<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../Public/uploadPage.css">
    <title>Manager</title>
</head>
<body>
    <div class="firstDiv"></div>
    <p class="title">Manager</p>
    <span class="loginForm">
            <input class="baseTextInput" type="text" placeholder="Username" id="usernameField" >
            <input class="baseTextInput" type="password" placeholder="Password" id="passwordField" >
            <a class="baseButton loginButton">Login</a>
    </span>
    <span class="managerForm">
        <span class="fileList">
            <span class="fileListElement">
                <span class="info">
                    <span class="nameAndSize">
                        <h1>File.exe</h1>
                        <p>50mb</p>
                    </span>
                </span>
                <span class="actions">
                    <input class="baseTextInput" type="text">
                    <a class="baseButton activeButton">Activete</a>
                    <a class="baseButton deleteButton">Delete</a>
                </span>
            </span>
            <span class="fileListElement">
                    <span class="info">
                        <span class="nameAndSize">
                            <h1>File.exe</h1>
                            <p>50mb</p>
                        </span>
                    </span>
                    <span class="actions">
                        <input class="baseTextInput" type="text">
                        <a class="baseButton activeButton">Activete</a>
                        <a class="baseButton deleteButton">Delete</a>
                    </span>
                </span>
        </span>
    </span>
</body>
</html>